html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  background-color: #fff;
}

.wrapper {
  width: calc(50% - 1em - 2px);
}

h2 {
  font-size: 1.7em;
  line-height: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}

.frame {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    font-size: 0.8em;
    border: 1px solid #000000;
    border-radius: 10px;
}

/* .mem-image {
  width: 100%;
} */

@media (max-width: 1199px) {
  .container {
    flex-direction: column;
    padding-left: 12px;
    padding-top: 80px;
    padding-right: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
} 
